<div class="post-content clearfix">
    <form id="buscar_documento" name="buscar_documento" class="form" method="post" action="">
        <ul>
            <li id="li_1">
                <label class="description" for="r_nombre_entidad">Nombre de la Entidad:</label>

                <select name="r_nombre_entidad" onchange="document.buscar_documento.submit();">
                    {{option_usuarios}}
                </select>
            </li>
            <li id="li_2">
                <label class="description" for="nombre_documento">Nombre del Documento:  </label>
                <div>
                    <input id="nombre_documento" name="r_nombre_documento" class="element text medium" type="text" maxlength="255" value="{{r_nombre_documento}}">
                </div>
            </li>
            <li id="li_3">
                <label class="description" for="nombre_documento">Publicado a partir de:  </label>
                <div>
                    <input id="fecha" name="r_fecha" class="element text medium" type="date" maxlength="4" value="{{r_fecha}}">
                </div>
            </li>
            <li class="buttons">
                <input type="hidden" name="form_id" value="1097821">
                <input id="saveForm" class="button_text" type="submit" value="Buscar">
            </li>
        </ul>
    </form>
    <table id="documento">
        <thead>
            <tr>
                <th class="sortable sorted order2">
                    <a href="">Documento</a>
                </th>
                <th class="sortable">
                    <a href="">Entidad</a>
                </th>
                <th class="sortable">
                    <a href="">URL Original</a>
                </th>
                <th class="sortable">
                    <a href="">Publicado antes de:</a>
                </th>
                <th class="sortable">
                    <a href="">URL Fehaciente</a>
                </th>
                <th>Ver sellos</th>
            </tr>
        </thead>
        <tbody>
            {{buscar_documentos_fila}}
        </tbody>
    </table>
    <p><!-- no-format off --></p>
</div>