<table id="documento">
<thead>
    <tr>
        <th class="sortable sorted order2">
            <a href="">Documento</a></th>
        <th class="sortable">
            <a href="">Entidad</a></th>

        <th class="sortable">
            <a href="">URL Original</a></th>
        <th class="sortable">
            <a href="">Publicado antes de:</a></th>
        <th class="sortable">
            <a href="">URL Fehaciente</a></th>
        <th>Ver sellos</th>
    </tr>
</thead>
<tbody>
{{mis_documentos_fila}}
</tbody>
</table>