<div class="wrap">  
    <?php screen_icon('themes'); ?> <h2>Configuraci&oacute;n: Publciaci&oacute;n Certificada</h2>

    <div id="estadoWrapper">
        <h3>Estado general</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        Estado del plugin:
                    </td>
                    <td>
                         <span id="estadoCuadrado" class="ok">&nbsp;</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Estado de la tsa:
                    </td>
                    <td>
                         <span id="estadoCuadrado" class="{{estado_tsa}}">&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="formularioTsaWrapper">
        <h3>URL TSA</h3>
        <form action="" method="POST">
            <table>
                <tbody><tr>
                    <th>
                        <label for="tsa_url">URL TSA <span class="description">(required)</span></label>
                    </th>
                    <td>
                        <input id="tsa_url" name="tsa_url" type="url" placeholder="http://url.tsa.prueba/" value="{{tsa_url}}">
                        <span class="pcerError">{{error_tsa_url}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
           <p class="submit">
                <input type="submit" name="submit" id="submit" class="button button-primary" value="Udapte">
           </p>
        </form>
    </div>



</div>